[Unit]
Description=ServerStatus
After=syslog.target
#After=network.target

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535
Type=simple
User=root
Group=root
WorkingDirectory=/root/
ExecStart=/root/ServerStatus_linux_amd64 -port=8888 -theme=badafans
Restart=always

[Install]
WantedBy=multi-user.target